@import "../../style.scss";


.navy{
    width: 100%;
    max-width: $wc;
    @include flex-row;
    padding-top: 10px;
    justify-content: space-around;
    z-index: 1;
 
}

.logo{
    color: red;
    font-size: 25px;
    box-shadow: 0px 0px 10px;
    border-radius: 25px;
    padding: 0px 8px 0px 8px;
    text-shadow: 0px 0px 3px white;
    font-family: 'Train One', cursive;
    
}

.button_block{
    @include flex-row;
    justify-content: space-around;
    visibility: visible;
    opacity: 1;
}

.navy_button{
    color: white;
    border: none;
    background-color: unset;
    cursor: pointer;
    margin: 10px 10px;
    font-size: 20px;
    font-family: 'Alice', serif;
    
    
    &:hover{
        color: red;
    }
}

.search_block{
    @include flex-row;
    justify-content: center;
}

.search{
    font-size: 18px;   
}

.burger_menu{
    width: 100%;
    @include flex-column;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    padding-top: 75px;
    visibility: hidden;
    opacity: 0;
    justify-content: space-around;
}

.burger_button{
    color: white;
    border: none;
    background-color: unset;
    cursor: pointer;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
    display: none;
    &:hover{
        color: red;
    }
}

@media(max-width: 980px){
    .navy{
        @include flex-column;
        align-items: center;
    }
    .search_block{
        margin: 20px 0px 10px 0px ;
    }
    

    
}

@media(max-width: 600px){
    .button_block{
        visibility: hidden;
        opacity: 0;
        display: none;
    } 

    .burger_button{
        display: block;
        visibility: visible;
        opacity: 1;

    }
}



.visible{
    visibility: visible;
    opacity: 1;
    transition: 0.8s;
}

