@import "../../style.scss";




.сard{
    margin: 100px 0;
    width: 100%;
    max-width: $wc;
    @include flex-row;
    justify-content: space-around;

    &_column{
        width: 100%;
        padding: 0px 10px;
        @include flex-column;
        justify-content: space-around;
        

        &_row{
            text-align: start;
            width: 100%;
            margin: 10px 0px;
            @include flex-row;
            column-gap: 20px;
        }
    }
    @media(max-width: 800px){
        &{
            @include flex-column;
        }
        &_column{
            width: 90%;
        }
        
    }
}



.modal{
    width: 100%;
    height: 85%;
    @include flex-column;
    align-items: center;
    position: absolute;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    opacity: 0;
    
    

    &_closeButton{
        width: 100%;
        max-width: $wc;
        @include flex-row;
        justify-content: end;        
    }

    &_window{
        width: 100%;
        max-width: $wc;
        @include flex-column;
    }
}

.openModal{
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: 0px 0px 5px;
    font-size: 20px;
    margin-top: 50px;
    color: red;
    &:hover{
        color: green;
        cursor: pointer;
    }
}

.closeButton{
    font-size: 25px;
    color: white;
    background-color: unset;
    cursor: pointer;
    &:hover{
        color: red;
    }
}



.visible{
    visibility: visible;
    opacity: 1;
}




