h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

.site {
  width: 100wc;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.wraper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}
